body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#f2f2f2;
  text-align:center;
}

header,footer{
  background:#333;
  color:white;
  padding:15px;
}

.container{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:40px;
  flex-wrap:wrap;
}

.box{
  width:180px;
  padding:25px;
  border-radius:15px;
  background:white;
  transition:0.4s;
}

.solid{ border:5px solid blue; }
.dashed{ border:5px dashed red; }
.double{ border:5px double green; }
.groove{ border:5px groove purple; }

.box:hover{
  border-color:orange;
}